<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Photos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/photos">My photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/photos/new">Upload a Photo</a>
              </li>
          </ul>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deleteAllPhotos()">
      Delete all photos
  </button>
</nav>

